import("methods")
importFrom("graphics", "abline", "axis", "box", "grid", "lines", "title")
importFrom("stats", "na.omit","quantile","var","median","lm","pnorm","sd")
importFrom("rts", rts)
importFrom("xts", nyears)
importFrom("yaImpute", ann)
importFrom("zoo", index)
importFrom("raster",adjacent,addLayer,as.data.frame,calc,cellStats,cellFromXY,colFromCell,crs,extent,getValues,mean,ncell,nlayers,nrow,ncol,
           pointDistance,projection,raster,stack,res,rowFromCell,xres,setValues,Which,xyFromCell,yFromRow,yFromCell,values,unique)
importFrom("terra",app,distance,ext,geom,global,ifel,minmax,mean,nlyr,project,quantile,rast,unique,vect)
exportPattern("^[[:alpha:]]+")
